/* *********** FONTS *********** */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* *********** General Styles *********** */

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --primary-clr: hsl(270, 100%, 20%);
    --primary-clr-dk: #1a0033;
    --primary-clr-lt: hsl(270 100% 30%);
    --neutral-90: hsl(0 0% 90%);
    --neutral-10: hsl(0 0% 10%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100vw;
    background-color: hsl(0 0% 10%);
}

#game-container {
    width: fit-content;
    margin: 1rem auto;
}

canvas {
    border: 11px solid var(--primary-clr);
}

/* *********** UI Elements *********** */

.UI-base-container {
    width: fit-content;
    margin: 18rem auto;
    border: 1px solid var(--neutral-90);
    border-radius: 1rem;
    background-color: rgb(29, 14, 43);
    background: linear-gradient(
            to bottom, 
            hsl(0 0% 0% / .1), 
            hsl(0 0% 0% / .75)
        ),
        url(../images/1018.png);
}

.UI-title-container {
    width: fit-content;
    margin: 1.75rem 3rem;
    padding: .5rem 5rem;
    background-color: hsl(0 0% 90% / .1);
    border-radius: 1rem;
}

h1 {
    font-family: 'Pirata One', cursive;
    font-size: 3rem;
    color: var(--primary-clr-dk);
    text-shadow: 1px 1px 5px hsl(0 100% 100% / .25);
}

.UI-button-nav-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
}

#char-name-label {
    color: var(--neutral-90);
}

#char-name {
    font-family: 'Pirata One';
    font-size: 2rem;
    padding: .5rem 1rem;
}

#char-name:focus {
    outline: 3px solid var(--primary-clr-lt);
}

#characters-button-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
}

#game-container {
    width: fit-content;
    margin: 18rem auto;
    border: 1px solid var(--neutral-90);
    border-radius: 1rem;
}

/* *********** BUTTONS *********** */
.UI-character-select-button {
    width: 128px;
    height: 128px;
    background: radial-gradient(hsl(218 100% 50%),hsl(218 100% 70%));
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px hsl(0 0% 0% / 0);
    /* transition: all 300ms ease; */
}
/* 
.UI-character-select-button:hover {
    box-shadow: 1px 1px 9px hsl(0 100% 100% / .5);
} */

.UI-character-select-button:focus {
    outline: 3px solid yellow;
}

.button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    padding: .5rem 2rem;
    cursor: pointer;
    color: var(--neutral-90);
    border: none;
    border-radius: .5rem;
    background-color: var(--primary-clr);
    box-shadow: 1px 1px 5px hsl(0 0% 0% / 0);
    transition: all 300ms ease;
}

.button:hover {
    background-color: var(--primary-clr-dk);
    box-shadow: 1px 1px 9px hsl(0 100% 100% / .25);
}

